@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(186, 211, 111);
}
header {
    background-image: url('imagens/imgheader.jpg');
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    text-align: center;
    padding: 10px;
    background-color: rgb(186, 211, 111);
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
nav > a:hover {
    border-bottom: 3px solid ;
    transition-duration: .8s;
    color: black;
    font-weight: bold;
    padding: 6px;
    margin: 6px;
}
h1 {
    color: white;
    background-color: rgb(45, 168, 45);
    text-align: center;
    padding: 20px;
}
#container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(45, 168, 45);
    padding: 20px;
}
#container > div {
    text-align: center;
    margin: auto;
}
#img {
    width: 200px;
}
#imgcen {
    width: 100px;
}
div > p {
    color: white;
    padding: 5px;
}
h2 {
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid goldenrod;
    color: white;
    font-size: 4vw;
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    scroll-margin-top: 50px;
}
.flexcontainer > div {
    border: 2px solid white;
    width: 200px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 1px 1px 15px 1px rgba(78, 78, 78, 0.432);
}
.flexcontainer > div > img {
    width: 200px;
    margin: auto;
    border-radius: 20px 0px 20px 0px;   
}
.flexcontainer > div p {
    color: black;
}
button {
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 128, 0, 0.651);
    border: none;
    color: white;
    margin: 5px;
}
button:hover {
    margin: 10px;
    font-weight: bold;
}
footer {
    background-color: rgb(45, 168, 45);
    padding: 50px;
    text-align: center;
}
footer > p > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
footer > p > a:hover {
    border-bottom: 2px solid white;
    transition-duration: .3s;
    margin: 2px;
    padding: 2px;
}